
@{
    ViewBag.Title = "ProductCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SliderDetail{
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop Detail</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Shop Detail </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
}

<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control"
                                        data-placeholder="$ USD">
                                    <option data-display="Select">Nothing</option>
                                    <option value="1">Popularity</option>
                                    <option value="2">High Price → High Price</option>
                                    <option value="3">Low Price → High Price</option>
                                    <option value="4">Best Selling</option>
                                </select>
                            </div>
                            <p>Showing all 4 results</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab">
                                        <i class="fa fa-th"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab">
                                        <i class="fa fa-list-ul"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale">Giảm giá</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <a href="@Url.Action("ProductDetail","Product")">
                                                        <h4>Cà rốt</h4>
                                                    </a>
                                                </a>
                                                <h5> 120.000 vnđ</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="new">Mới</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <a href="@Url.Action("ProductDetail","Product")">
                                                        <h4>Cà chua</h4>
                                                    </a>
                                                </a>
                                                <h5> 125.000 Vnđ</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale">Giảm giá</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <h4>Nho</h4>
                                                </a>
                                                <h5> 120.000 Vnđ</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale">Giảm giá</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <a href="@Url.Action("ProductDetail","Product")">
                                                        <h4>Cà rốt</h4>
                                                    </a>
                                                </a>
                                                <h5> 120.000 vnđ</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="new">Mới</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <a href="@Url.Action("ProductDetail","Product")">
                                                        <h4>Cà chua</h4>
                                                    </a>
                                                </a>
                                                <h5> 125.000 Vnđ</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale">Giảm giá</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <h4>Nho</h4>
                                                </a>
                                                <h5> 120.000 Vnđ</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale">Giảm giá</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <a href="@Url.Action("ProductDetail","Product")">
                                                        <h4>Cà rốt</h4>
                                                    </a>
                                                </a>
                                                <h5> 120.000 vnđ</h5>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale">Giảm giá</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <h4>Nho</h4>
                                                </a>
                                                <h5> 120.000 Vnđ</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                        <div class="products-single fix">
                                            <div class="box-img-hover">
                                                <div class="type-lb">
                                                    <p class="sale">Giảm giá</p>
                                                </div>
                                                <img src="~/wwwroot/images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                                <div class="mask-icon">
                                                    <ul>
                                                        <li>
                                                            <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip" data-placement="right"
                                                               title="View"><i class="fas fa-eye"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Compare"><i class="fas fa-sync-alt"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="tooltip" data-placement="right"
                                                               title="Add to Wishlist">
                                                                <i class="far fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                </div>
                                            </div>
                                            <div class="why-text">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <h4>Nho</h4>
                                                </a>
                                                <h5> 120.000 Vnđ</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="new">Mới nhất</p>
                                                    </div>
                                                    <img src="~/wwwroot/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li>
                                                                <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip"
                                                                   data-placement="right" title="View">
                                                                    <i class="fas fa-eye"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip"
                                                                   data-placement="right" title="Compare">
                                                                    <i class="fas fa-sync-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip"
                                                                   data-placement="right"
                                                                   title="Add to Wishlist">
                                                                    <i class="far fa-heart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <h4>Cà rốt</h4>
                                                </a>
                                                <h5> <del>120.000 Vnđ</del> 50.000 Vnđ</h5>
                                                <p>Củ cà rốt có kích thước đường kính chừng 10 cm, trọng lượng 0,8 – 1 kg/ quả. Thịt đủ đủ dày, có màu đỏ pha hồng đậm, ăn rất ngọt và thơm Cung cấp dinh dưỡng cho cơ thể, giúp chị em làm đẹp da Giúp chống lại một căn bệnh ung thư, tốt cho tim mạch và hệ tiêu hóa</p>
                                                <a class="btn hvr-hover" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Giảm giá</p>
                                                    </div>
                                                    <img src="~/wwwroot/images/img-pro-02.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li>
                                                                <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip"
                                                                   data-placement="right" title="View">
                                                                    <i class="fas fa-eye"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip"
                                                                   data-placement="right" title="Compare">
                                                                    <i class="fas fa-sync-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip"
                                                                   data-placement="right"
                                                                   title="Thêm vào sản phẩm yêu thích">
                                                                    <i class="far fa-heart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <h4>Cà chua</h4>
                                                </a>
                                                <h5> <del>250.000 Vnđ</del> 130.000 Vnđ</h5>
                                                <p>Củ cà rốt có kích thước đường kính chừng 10 cm, trọng lượng 0,8 – 1 kg/ quả. Thịt đủ đủ dày, có màu đỏ pha hồng đậm, ăn rất ngọt và thơm Cung cấp dinh dưỡng cho cơ thể, giúp chị em làm đẹp da Giúp chống lại một căn bệnh ung thư, tốt cho tim mạch và hệ tiêu hóa</p>
                                                <a class="btn hvr-hover" href="#">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-view-box">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="sale">Giảm giá</p>
                                                    </div>
                                                    <img src="~/wwwroot/images/img-pro-03.jpg" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li>
                                                                <a href="@Url.Action("ProductDetail","Product")" data-toggle="tooltip"
                                                                   data-placement="right" title="View">
                                                                    <i class="fas fa-eye"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip"
                                                                   data-placement="right" title="Compare">
                                                                    <i class="fas fa-sync-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" data-toggle="tooltip"
                                                                   data-placement="right"
                                                                   title="Add to Wishlist">
                                                                    <i class="far fa-heart"></i>
                                                                </a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <a href="@Url.Action("ProductDetail","Product")">
                                                    <h4>Nho</h4>
                                                </a>
                                                <h5> <del>$ 60.00</del> $40.79</h5>
                                                <p>Chùm nho có kích thước đường kính chừng 10 cm, trọng lượng 0,8 – 1 kg/ quả. Thịt đủ đủ dày, có màu đỏ pha hồng đậm, ăn rất ngọt và thơm Cung cấp dinh dưỡng cho cơ thể, giúp chị em làm đẹp da Giúp chống lại một căn bệnh ung thư, tốt cho tim mạch và hệ tiêu hóa</p>
                                                <a class="btn hvr-hover" href="#">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Search here..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Danh mục sản phẩm</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree"
                             id="list-group-men" data-children=".sub-men">
                            <a class="list-group-item list-group-item-action" href="#sub-men1"
                               aria-expanded="true" aria-controls="sub-men1">
                                Thực phẩm nông sản <small class="text-muted">(100)</small>
                            </a>
                            <a class="list-group-item list-group-item-action" href="#sub-men2"
                               aria-expanded="false" aria-controls="sub-men2">
                                Thực phẩm tươi sống
                                <small class="text-muted">(50)</small>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action">
                                Thực phẩm khô <small class="text-muted">(150) </small>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action">
                                Thực phẩm đóng hộp <small class="text-muted">(22)</small>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
<!-- Start Instagram Feed  -->
<div class="instagram-box">
    <div class="main-instagram owl-carousel owl-theme">
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-01.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-02.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-03.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-04.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-05.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-06.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-07.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-08.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-09.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ins-inner-box">
                <img src="~/wwwroot/images/instagram-img-05.jpg" alt="" />
                <div class="hov-in">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Feed  -->
