@model IEnumerable<ThucPhamSach.Models.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmim.cshtml";
}


<!--Jquery-->
<script src="~/Areas/Admin/Assets/vendor/jquery-3.2.1.min.js"></script>

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">Quản lý danh sách người dùng</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">

                </div>

            </div>

            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Mật khẩu</th>
                            <th>Điện thoại</th>
                            <th>Địa chỉ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr class="tr-shadow">
                                <td class="taikhoan-name"> @item.HoTen</td>
                                <td>@item.Email</td>
                                <td>@item.MatKhau</td>
                                <td>@item.DienThoai</td>
                                <td>@item.DiaChi</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item edit-record" title="Sửa tài khoản" data-idToEdit="@item.MaTK">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item delete-record" title="Xóa tài khoản" data-idToDelete="@item.MaTK">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE -->
            <!-- Paging -->
            <div class="paging-bar">
                <div class="info-page">

                </div>
                <div class="list-page">
                    <ul class="pagination" id="pagination">
                        <li class="prev-first" id="prev-first" data-currentPage="1">
                            <i class="fas fa-angle-double-left"></i>
                        </li>
                        <li class="prev" id="prev">
                            <i class="fas fa-chevron-left"></i>
                        </li>
                        @{
                            for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                if (i == 1)
                                {
                                    <li class="page-number active" data-currentPage="@i">@i</li>
                                }
                                else
                                {
                                    <li class="page-number" data-currentPage="@i">@i</li>
                                }
                            }
                        }
                        <li class="next" id="next">
                            <i class="fas fa-chevron-right"></i>
                        </li>
                        <li class="next-last" id="next-last" data-currentPage="@ViewBag.PageCount">
                            <i class="fas fa-angle-double-right"></i>
                        </li>

                    </ul>
                </div>
                <div class="record-per-page">
                    <p>6 sản phẩm/trang</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section DialogConfirm{
    @{
        Html.RenderPartial("DialogConfirm");
    }
}
<script>

    $(document).ready(function () {
        let taikhoan = new TaiKhoanJs();
    })

    class TaiKhoanJs {

        idToDeleteRecord = null;
        idToEditRecord = null;

        constructor() {
            this.initEventTaiKhoan();
        }

        initEventTaiKhoan() {
            var me = this;
            $('tbody').on('click', '.delete-record', function () {
                console.log(this);
                me.idToDeleteRecord = this.getAttribute("data-idToDelete");
                var nameTaiKhoan = this.parentElement.parentElement.parentElement.querySelector(".taikhoan-name").innerText;
                $('.dialog-confirm-model').addClass("showDialogConfirm");
                $('.text-dialog-confirm').html('Bạn có chắc muốn xóa tài khoản ' + '<span class = "highline-text">' + nameTaiKhoan + '</span>' + ' ?');
            });

            $('#btnHideDialogConfirm').click(function () {
                $('.dialog-confirm-model').removeClass("showDialogConfirm");
            })

            $('#btnDeleteRecord').click(me.deleteRecordTaiKhoan.bind(me));

            $('tbody').on('click', '.edit-record', function () {
                me.idToEditRecord = this.getAttribute("data-idToEdit");
                location.href = 'TaiKhoans/Edit/' + me.idToEditRecord;
            });
        }

        deleteRecordTaiKhoan() {
            try {
                debugger;
                var me = this;
                $.ajax({
                    dataType: "json",
                    type: 'POST',
                    url: 'SanPhams/Delete/' + me.idToDeleteRecord,
                    contentType: "application/json; charset=utf-8",
                }).done(function (res) {
                    if (res) {
                        //show toast Message
                        $('.dialog-confirm-model').removeClass("showDialogConfirm");

                        //Load lại grid
                        $("#tbody").empty();
                        var gridData = "";
                        $.each(res, function (index, obj) {
                            gridData += `<tr class="tr-shadow">
                                <td class="taikhoan-name">${item.HoTen}</td>
                                <td>${item.Email}</td>
                                <td>${item.MatKhau}</td>
                                <td>${item.DienThoai}</td>
                                <td>${item.DiaChi}</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item edit-record" title="Sửa tài khoản" data-idToEdit = ${item.MaTK}>
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item delete-record" title="Xóa tài khoản" data-idToDelete = ${item.MaSP}>
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>`
                        })

                        $('#tbody').html(gridData);

                    }
                }).fail(function (err) {
                    console.log(err);
                })
            } catch (err) {
                console.log(err);
            }
        }
    }
</script>




@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhanQuyen.TenQuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhanQuyen.TenQuyen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>*@
