@model ThucPhamSach.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmim.cshtml";
}


@using (Html.BeginForm("Create", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Thêm Sản Phẩm
                    </div>
                    <div class="card-body card-block">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Mã sản phẩm</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.EditorFor(model => model.MaSP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Tên sản phẩm</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">Ảnh</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="upload-images">
                                    <img id="output" class="img-thumbnail" alt="ảnh" width="180" height="200" src="~/wwwroot/Images/noImage.png" />
                                    @*<div class="multiple-images">
                                        <img id="output" class="img-thumbnail" alt="ảnh" width="180" height="200" src="~/wwwroot/Images/noImage.png" />
                                        <img id="output" class="img-thumbnail" alt="ảnh" width="180" height="200" src="~/wwwroot/Images/noImage.png" />
                                        <img id="output" class="img-thumbnail" alt="ảnh" width="180" height="200" src="~/wwwroot/Images/noImage.png" />
                                    </div>*@
                                </div>

                                <p>
                                    <label for="ufile" style="cursor : pointer;">
                                        Chọn file ảnh
                                    </label>
                                </p>

                                <input name="ImageFile" multiple="multiple" id="ufile" type="file" style="display:none;" onchange="loadFile(event)" />

                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Mô Tả</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.TextAreaFor(model => model.MoTa)
                                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Số Lượng</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                               
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Giá Tiền</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">Loại Hàng</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @*<select name="select" id="select" class="form-control">
                                        <option value="0">Thực Phẩm Nông Sản</option>
                                        <option value="1">Thực Phẩm Tươi Sống</option>
                                        <option value="2">Thực Phẩm Khô</option>
                                        <option value="3">Gia Vị</option>
                                    </select>*@
                                @Html.DropDownList("MaDanhMuc", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Nhà cung cấp</label>
                            </div>
                            <div class="col-12 col-md-9">
                                @Html.EditorFor(model => model.NhaCungCap, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NhaCungCap, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="background-color: white; text-align: center;">
                    <button type="submit" class="btn btn-primary btn-lg btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Gửi
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
            </div>

        </div>
    </div>
}

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.MaSP, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TenSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NhaCungCap, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NhaCungCap, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NhaCungCap, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Anh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    <img id="output" class="img-thumbnail" alt="ảnh" width="180" height="200" src="~/wwwroot/Images/noImage.png" />

                    <p>
                        <label for="ufile" style="cursor : pointer;">
                            Chọn file ảnh
                        </label>
                    </p>

                    <input name="ImageFile" id="ufile" type="file" style="display:none;" onchange="loadFile(event)" />

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaDanhMuc, "MaDanhMuc", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaDanhMuc", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

